// Colors
$bg-primary-color: #010409;
$bg-secondary-color: #0d1117;

$txt-primary-color: #e6edf3;
$txt-secondary-color: #848d97;
$txt-anchor-color: #4493f8;

$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;

// Fonts
$heading-font-family: 'Montserrat', sans-serif;
$body-font-family: 'Roboto', sans-serif;

// Border radius
$border-radius-small: 4px;
$border-radius-medium: 8px;
$border-radius-large: 12px;

// Media Queries
$media500: 500px;
$media768: 768px;
$media1024: 1024px;
$media1440: 1440px;
$media1980: 1920px;
$media2560: 2560px;